{% extends "index.html" %}

{% block menu %}
  {{ super() }}
{% endblock menu %}

{% block content %}
    <div class="home">

      <h1 class="page-heading">{{ category.name }}</h1>

      <ul class="post-list">
        {% for page in category.pages %}
        {% if not page.draft %}
          <li>
            <span class="post-meta">
                 {% if page.date %}
                   <span class='divider'/>
                   <span>{{ page.date | date(format="%d %B %Y") }}</span>
                 {% endif %}
            </span>

            <h2>
              <a class="post-link" href="{{ page.permalink }}">{{ page.title }}</a>
            </h2>
            <p style="color: black;">
                {{ page.content | safe | striptags | truncate }}
            </p>
          </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
{% endblock content %}
