<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <!-- css -->
      <link rel="stylesheet" href="{{ config.base_url }}/main.css">

      <!-- fonts -->
      <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Montserrat:400,700" rel="stylesheet">


      {% if config.extra.analytics %}
        {{ config.extra.analytics | safe }}
      {% endif %}

      {% if config.generate_rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
      {% endif %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body>
    <!-- Header -->
    <header class="site-header">
      <div class="wrapper">

        <a class="site-title" href="{{ config.base_url }}/">{{ config.title }}</a>

        <nav class="site-nav">
          <a href="#" class="menu-icon">
            <svg viewBox="0 0 18 15">
              <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
              <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
              <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
            </svg>
          </a>

        {% block menu %}
          <div class="trigger">
            {% if config.extra.menu %}
              {% for page, alias in config.extra.menu %}
                <a class="page-link" href="{{ config.base_url }}/{{ page }}">
                  {{ alias }}
                </a>
              {% endfor %}
            {% endif %}
          </div>
        {% endblock menu %}
        </nav>
      </div>
    </header>

    <!-- Content -->
    <div class="page-content">
      <div class="wrapper">
        {% block content %}
            <div class="home">

              <h1 class="page-heading">Posts</h1>

              <ul class="post-list">
                {% for page in section.pages %}
                {% if not page.draft %}
                  <li>
                    <span class="post-meta">
                         {% if page.date %}
                           <span class='divider'/>
                           <span>{{ page.date | date(format="%d %B %Y") }}</span>
                         {% endif %}
                    </span>

                    <h2>
                      <a class="post-link" href="{{ page.permalink }}">{{ page.title }}</a>
                    </h2>
                    <p style="color: black;">
                        {{ page.content | safe | striptags | truncate }}
                    </p>
                  </li>
                {% endif %}
                {% endfor %}
              </ul>

              {% if config.generate_rss %}
                <p class="rss-subscribe">subscribe <a href="{{ get_url(path="rss.xml", trailing_slash=false) }}">via RSS</a></p>
              {% endif %}

            </div>
        {% endblock content %}
      </div>
    </div>

    <!-- Footer -->
    <footer class="site-footer">

      <div class="wrapper">

        <h2 class="footer-heading">{{ config.title }}</h2>

        <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            <ul class="contact-list">
              <li>{{ config.title }}</li>
              <li><a href="mailto:{{ config.extra.email }}">{{ config.extra.email }}</a></li>
            </ul>
          </div>

          <div class="footer-col footer-col-2">
            <ul class="social-media-list">
              {% if config.extra.gitlab %}
              <li>
                <a href="https://gitlab.com/{{ config.extra.gitlab }}">
                    <span class="icon icon--gitlab">
                        <img src="{{ config.base_url }}/png/icon-gitlab-16.png" />
                    </span>
                    <span class="username">{{ config.extra.gitlab }}</span>
                </a>
              </li>
              {% endif %}

              {% if config.extra.twitter %}
              <li>
                <a href="https://twitter.com/{{ config.extra.twitter }}">
                    <span class="icon icon--twitter">
                        <img src="{{ config.base_url }}/png/icon-twitter-16.png" />
                    </span>
                    <span class="username">{{ config.extra.twitter }}</span>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>

          <div class="footer-col footer-col-3">
            <p>{{ config.description }}</p>
          </div>
        </div>

      </div>

    </footer>

    <script id="dsq-count-scr" src="//deikatsuo.disqus.com/count.js" async></script>
    </body>

</html>
