{% extends "index.html" %}

{% block menu %}
  {{ super() }}
{% endblock menu %}

{% block content %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ page.content | safe }}
  </div>

</article>

{% endblock content %}
